@font-face {
    font-family: 'icomoon';
    src: url('../type/icomoon.eot?m482dc');
    src: url('../type/icomoon.eot?m482dc#iefix') format('embedded-opentype'),
         url('../type/icomoon.ttf?m482dc') format('truetype'),
         url('../type/icomoon.woff?m482dc') format('woff'),
         url('../type/icomoon.svg?m482dc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
