
// -------------------------------------------------- //
// Float
.flt {

  &--r { float: right; }
  &--l { float: left; }

}


// -------------------------------------------------- //
// Text align
.ta {
  &c { text-align: center; }
  &r { text-align: right; }
  &l { text-align: left; }
}


// Vertical align
// -------------------------------------------------- //
.va {
  &t { vertical-align: top; }
  &b { vertical-align: bottom; }
  &m { vertical-align: middle; }
}


// Align self
// -------------------------------------------------- //
.as {
  &c { align-self: center; }
}
