
$img-max: (
  '316': 316,
  '1004': 1004,
  '1024': 1024,
  '1325': 1325
);



.img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  &--50 { width: 50%; }

  &--thumb {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }


  @each $size, $value in $img-max {
    &--#{$size} {
      max-width: #{$value}px;
    }
  }

}

.object-fit--fallback {
  background-position: center center;
  background-size: cover;
}
