
li {

  > ul,
  > ol {
    margin-bottom: 0;
  }


}

ul,
ol {

  &.list--alpha {
    list-style-type: lower-alpha;
  }

  &.list--decimal {
    list-style-type: decimal;
  }

  &.unstyled { margin-left: 0; }

}
