
::selection {
  background: $colour-black;
  color: $colour-white-text;
}

::-moz-selection {
  background: $colour-black;
  color: $colour-white-text;
}


html {
  background: $colour-grey-50;
  color: $colour-black-text;
  font-family: $font-main;
  font-size: 62.5%;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: $colour-transparent;
}


body {
  @include font-size($font-size-primary);
  font-family: $font-main;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}


.container {
  max-width: $screen-size-desktop;

  @include media(handhelds, max) {
    padding-top: 79px;
  }

  .common-home & {
    max-width: 100%;
  }

  .maintenance & {
    padding-top: 100px;
  }
}


.maintenance {
  background-image: url('/image/background/zensation-hero-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;

  .common-home & {
    height: 97vh;
  }

  h1,
  p {
    color: $colour-white-text;
  }

}
