
address,
p {

  &.lead {
    @include font-size($font-size-h5);
  }

  &:empty { margin: 0 $imp; }

}

.small {
  @include font-size($font-size-secondary);
}

.large {
  @include font-size($font-size-tertiary);
}

.milli {
  @include font-size($font-size-milli);
}

.micro {
  @include font-size($font-size-micro);
}
