
strong,
.bold,
b { font-weight: $font-weight-thick; }




.italic,
i { font-style: italic; }




.link,
a {
  @include transition(color, .3);
  color: $colour-blue-a400;
  outline: none;
  text-decoration: none;

  &:hover {
    color: $colour-blue-a700;
    text-decoration: none;
  }

  &.tdn { text-decoration: none; }
}





.uppercase {
  text-transform: uppercase;
}
