

.btn {
  @include border-radius(3px);
  @include box-shadow(0, 2px, 5px, -2px, $colour-black);
  @include font-size($font-size-primary);
  @include transition(all, .3);
  background: $colour-grey-800;
  border: 1px solid $colour-transparent;
  color: $colour-white-text;
  font-family: $font-main;
  font-weight: $font-weight-medium;
  min-width: 120px;
  outline: none $imp;
  padding: $spacing-secondary;
  text-shadow: none;
  text-transform: uppercase;

  &:focus,
  &:active,
  &:hover {
    background: $colour-grey-900 $imp;
    border: 1px solid $colour-transparent $imp;
    color: $colour-white-text;
  }

  &:active { @include box-shadow(0, 7px, 7px, -3px, $colour-black); }
}



.button {
  @include border-radius(3px);
  @include transition(all, .2);
  background: $colour-grey-200;
  border: 1px solid $colour-transparent;
  color: $colour-black-secondary-text;
  display: inline-block;
  font-weight: $font-weight-thick;
  outline: none;
  padding: $spacing-primary $spacing-secondary;
  text-align: center;
  text-transform: uppercase;

  &:hover { color: inherit; }

  &--lg {
    padding: $spacing-secondary;
    width: 100%;
  }



  &--c {
    &--accent {
      background: $colour-amber-a400;
      color: $colour-white-text;

      &:hover { background: $colour-amber-a700; }
    }

    &--red {
      background: $colour-red-500;
      color: $colour-white-text;
    }
  }



  > span {
    padding-left: $spacing-primary;
    vertical-align: middle;
  }

  > i { vertical-align: baseline; }



  &--outline {
    @include border-radius(3px);
    background: $colour-transparent;
    border-style: solid;
    border-width: 2px;

    &--accent {
      border-color: $colour-amber-500;
      color: $colour-amber-500;

      &:hover {
        background: $colour-amber-500;
        color: $colour-white-text;
      }
    }
  }

  &--trigger {
    @include transition(color, .3);
    background: $colour-transparent;
    border: 1px solid $colour-transparent;
    color: $colour-black-icons;
    display: inline-block;
    outline: none;
    padding: $spacing-secondary;

    &--wishlist {
      &:active { color: $colour-red-600; }
    }
  }

}
