

.divider {

  &--b {
    border-bottom: 1px solid $colour-black-dividers;
  }

  &--r {
    border-right: 1px solid $colour-black-dividers;
  }

  &--l {
    border-left: 1px solid $colour-black-dividers;
  }
}
