

.input {
  @include border-radius(3px);
  @include font-size($font-size-primary);
  @include transition(border-color, .3);
  background: $colour-transparent;
  border: 2px solid $colour-black-dividers;
  color: $colour-black-text;
  display: inline-block;
  font-family: $font-main;
  font-style: italic;
  font-weight: $font-weight-normal;
  min-height: 47px;
  min-width: 50px;
  outline: none;
  padding: $spacing-primary;
  // width: 100%;

  &:focus { border-color: $colour-grey-900; }

  &--100 { width: 100%; }
  &--upper { text-transform: uppercase; }

  &--bg {
    &--white { background: $colour-white; }
  }

}
