

.mask {
  @include transition(visibility, .3);
  background: $colour-black-text;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  visibility: hidden;
  z-index: 99999;

  &.active { visibility: visible; }

  > i {
    @include font-size($font-size-h1);
    color: $colour-white-icons;
  }

}
