
@include keyframes(fadeout) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(rotate) {
  100% { transform: rotate(360deg); }
}

@include keyframes(left-right-slide) {
  0% { left: -350px; }
  100% { left: 0; }
}

@include keyframes(right-left-slide) {
  0% { left: 0; }
  100% { left: -350px; }
}

@include keyframes(bottom-top-slide) {
  0% { top: 500px; }
  100% { top: 0; }
}

@include keyframes(ellipsis) {
  0% { width: 0; }
  50% { width: 6px; }
  75% { width: 11px; }
  100% { width: 17px; }
}

