

@mixin media($media, $range: min) {

  @if $range == min {

    @if $media == handhelds {
      @media only screen and (min-width: $screen-size-mobile) { @content; }

    } @else if $media == tablet {
      @media only screen and (min-width: 768px) { @content; }

    } @else if $media == lap {
      @media only screen and (min-width: $screen-size-lap) { @content; }

    } @else if $media == desktop {
      @media only screen and (min-width: $screen-size-desktop) { @content; }

    } @else if $media == wide {
      @media only screen and (min-width: $screen-size-wide) { @content; }

    } @else {
      @media only screen and (min-width: $media) { @content; }

    }

  } @else if $range == max {

    @if $media == mobile {
      @media only screen and (max-width: $screen-size-mobile - 1) { @content; }

    } @else if $media == tablet {
      @media only screen and (max-width: 769px - 1) { @content; }

    } @else if $media == handhelds {
      @media only screen and (max-width: $screen-size-lap - 1) { @content; }

    } @else if $media == lap {
      @media only screen and (max-width: $screen-size-desktop - 1) { @content; }

    } @else if $media == desktop {
      @media only screen and (max-width: $screen-size-wide - 1) { @content; }

    } @else {
      @media only screen and (max-width: $media - 1) { @content; }

    }

  } @else if $range == only {

    @if $media == handhelds {
      @media only screen and (max-width: $screen-size-lap - 1) { @content; }

    } @else if $media == lap {
      @media only screen and (min-width: $screen-size-lap) and (max-width: $screen-size-desktop - 1) { @content; }

    } @else if $media == desktop {
      @media only screen and (min-width: $screen-size-desktop) and (max-width: $screen-size-wide - 1) { @content; }

    } @else if $media == wide {
      @media only screen and (min-width: $screen-size-wide) { @content; }

    }

  }

}
