

.panel-group {

  // Checkout accordion
  .checkout-checkout & {

    .panel {
      @include border-radius(0);
      border: 2px solid $colour-grey-400;
      box-shadow: none;
    }

    .panel-heading {
      background: $colour-grey-200;
      // border: 0 solid $colour-transparent;
      // border-bottom: 2px solid $colour-grey-400;
    }
  }

}
