

.banner {
  padding: $spacing-secondary;
  text-align: center;

  &--header {
    background: $colour-white;
    border-bottom: 1px solid $colour-black-dividers;
    color: $colour-amber-a700;

    @include media(handhelds, max) {
      display: none;
    }

    .common-home & { display: none; }

  }

}
