

.basket {

  &--total {
    background: $colour-grey-200;
    border: 2px solid $colour-grey-400;
    margin-bottom: $spacing-secondary;


    table {

      * { border-top: 0 $imp; }

      tr {
        @include font-size($font-size-h3);
        display: none;

        &:last-child { display: table-row; }
      }
    }

    .button {
      * { vertical-align: middle; }

      i {
        @include font-size($font-size-h3);
        padding: 0 $spacing-secondary;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
      }
    }

  }


}
