
// HTML block modules
.feature {


  &--delivery {
    background: $colour-white;
    border-bottom: 1px solid $colour-black-dividers;
    border-top: 1px solid $colour-black-dividers;
    color: $colour-amber-a700;
    text-align: center;

    h3 { display: none; }
  }


  &--homepagetext {
    background: $colour-amber-500;
    margin-bottom: $spacing-tertiary;
    padding: $spacing-secondary;
    position: relative;

    &:before {
      background-image: url('/image/background/contemporary_china_white.png');
      bottom: 0;
      content: '';
      left: 0;
      opacity: .2;
      position: absolute;
      right: 0;
      top: 0;
    }

    .row {
      font-style: italic;
      max-width: $screen-size-lap;
      position: relative;
      z-index: 9;
    }


    h3 { display: none; }
  }

  &--Stayconnected {
    margin-bottom: $spacing-tertiary;
  }

}
