

.footer {
  background: $colour-grey-800;
  padding: $spacing-secondary 0 0;

  &--maintenance {
    bottom: 0;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
  }


  // &--container {
  //   max-width: $screen-size-lap;
  // }

  &__payments {

    table,
    img { width: 100%; }
  }


  &__copy {

    p {
      @include font-size($font-size-secondary);
      color: $colour-white-secondary-text;
      line-height: 1.4;
      text-align: right;
    }

    a {
      @include font-size($font-size-secondary);
      color: $colour-white-secondary-text;
    }

  }

  h6 {
    color: $colour-white-text;
    text-transform: uppercase;
    // font-weight: $font-weight-medium;
  }

  p { margin: 0; }

  ul {
    margin: 0;

    a {
      @include font-size($font-size-secondary);
      @include transition(color, .3);
      color: $colour-white-text;
      display: inline-block;
      font-weight: $font-weight-normal;
      padding: $spacing-quinary 0;

      &:hover {
        color: $colour-white-secondary-text;
      }
    }

  }


}
