

.header {
  @extend %clearfix;
  background: $colour-white;
  border-bottom: 1px solid $colour-black-dividers;

  // Every page on mobile have fixed header
  @include media('handhelds', max) {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  @include media(lap) {
    &.lap-scroll { padding-bottom: 53px; }
  }

  // Class gets added on nav open on mobile
  &.nav-open { background: $colour-white $imp; }



  &__container {
    padding: $spacing-primary;

    @include media(lap) {
      padding: $spacing-secondary;
    }

    &--nav {
      @include transition(all, .5);
      text-align: center;

      @include media('handhelds', max) {
        @include box-shadow(0, 9px, 10px, -5px, $colour-black-secondary-text);
        display: none;
        left: -110%;
        position: fixed;
        top: 78px;
        width: 100%;
        z-index: 999;
      }

      @include media(lap) {
        display: block;

        // Class added by jQuery after scrolling down 200px
        // scss-lint:disable QualifyingElement
        header.lap-scroll & {
          background: $colour-white-secondary-text;
          left: 0;
          position: fixed;
          right: 0;
          top: 0;
          z-index: 999;
        }
        // scss-lint:enable QualifyingElement
        // Class added by jQuery after scrolling down 200px
      }

      // --------------------------------- //
      // Dynamic class added by jquery
      &.active {
        display: block;
        left: 0;
      }
      // Dynamic class added by jquery
      // --------------------------------- //
    }
  }


  &__trigger {
    &--nav {
      @include media(lap) { display: none; }
    }
  }



  &__search {
    position: relative;

    .input {
      border-color: $colour-black;
      display: none;
      max-width: 320px;
      padding-left: $spacing-denary;

      @include media(lap) { display: block; }

      &:focus {
        // scss-lint:disable BemDepth
        + .header__search__icon {
          color: $colour-amber-700;
        }
        // scss-lint:disable BemDepth
      }

      // Dynamic class added by jQuery
      &.active {
        @include media(handhelds, max) {
          background: $colour-white;
          bottom: 0;
          display: block;
          height: 52px;
          left: 0;
          margin: auto;
          padding-left: $spacing-secondary;
          position: fixed;
          right: 0;
          top: 0;
          width: 300px;
          z-index: 999999;
        }

      }
    }

    // ---------------------------- //
    i {
      padding: $spacing-secondary;

    }

    &__icon {
      @include transition(color, .2);

      @include media(lap) {
        left: 8px;
        position: absolute;
        top: 8px;
      }

    }
    // ---------------------------- //

  }


  &__logo {
    display: inline-block;
    max-width: 70px;
    vertical-align: middle;

    > a {
      display: inline-block;

      img {
        @include media('handhelds', max) {
          max-width: 50px;
        }
      }

    }
  }


  &__user {
    a {
      @include transition(color, .2);
      color: $colour-black-text;
      display: inline-block;

      &:hover { color: $colour-amber-700; }

    }

    .fa {
      padding: $spacing-secondary;

      @include media(lap) {
        @include font-size($font-size-h2);
        padding: 0 $spacing-secondary;
      }

      &.has-item {
        padding-right: $spacing-primary;

        + span { vertical-align: top; }
      }
    }

  }



  // ------------------------------------------------------------------------ //
  // Cart
  &--cart {
    display: inline-block;
    vertical-align: middle;

    .open {
      > .btn {
        background: $colour-grey-50;
      }
    }

    // Main btn to open the cart
    .btn--cart {
      @include border-radius(0);
      @include box-shadow(0, 0, 0, 0, $colour-transparent);
      @include transition(background, .3);
      background: $colour-transparent;
      border-color: $colour-transparent;

      &:hover { background: $colour-grey-50; }

      &.dropdown-toggle {
        @include border-radius(3px, 3px, 0, 0);
        @include box-shadow(0, 0, 0, 0, $colour-transparent);
        overflow: hidden;
      }

    }

    // the cart contents
    .dropdown-menu {
      background: $colour-grey-50;
      top: 98%;
    }

    &--links {
      display: inline-block;
      padding: $spacing-primary;
    }

  }
  // Cart
  // ------------------------------------------------------------------------ //


}
