

.nav {

  // ------------------------------------------------------------------------ //
  // Header navigation
  &--header {
    @include font-size($font-size-primary);
    display: inline-block;

    @include media('handhelds', max) {
      text-align: left;
      width: 100%;
    }

    // Hide nav on checkout
    .checkout-checkout & { display: none; }

    // opens navigation on mobile
    &__btn {
      @include media('tablet') {
        display: none;
      }
    }

    // Holds the ul on mobile
    &__container {


      > ul {
        @include media('handhelds', max) {
          background: $colour-white;
          height: 100%;
          margin: 0;
          // padding: $spacing-quinary 0;
        }

        ul { border: 0; }

        a {
          background: $colour-transparent $imp;
        }
      }

    }


    li {
      &.open {

        > a {
          background: $colour-grey-50;
          text-decoration: none;
        }
      }
    }


    a {
      @include transition(color, .2);
      color: $colour-black-text;
      font-weight: $font-weight-medium;
      text-decoration: none;
      text-transform: uppercase;

      @include media(lap) {
        text-align: center;
      }

      &:hover {
        color: $colour-amber-700;

        @include media(lap) {
          + .dropdown-menu {
            display: block $imp;
          }
        }

      }

    }

    .dropdown-menu {
      @include border-radius(0, 0, 3px, 3px);
      @include box-shadow(0, 1px, 3px, -2px, $colour-black-secondary-text);
      background: $colour-white;
      border-color: $colour-black-dividers;
      border-top-color: $colour-transparent;
      padding: $spacing-secondary;
      top: 50px;

      &:before {
        background: $colour-white;
        content: '';
        display: block;
        height: 5px;
        left: -2px;
        position: absolute;
        right: -2px;
        top: -4px;
        z-index: 9;
      }

      &:hover {
        @include media(lap) {
          display: block;
        }
      }

      ul { margin: 0; }


      a {
        display: block;
        font-weight: $font-weight-normal;
        padding: $spacing-primary;
        text-align: left;

        &:hover {
          background: $colour-transparent;
          color: $colour-amber-700;

        }



      }
    }

  }
  // ------------------------------------------------------------------------ //

  // ------------------------------------------------------------------------ //
  // Tab navigation
  &--tabs {
    border-bottom: 3px solid $colour-grey-100;
    margin-left: 0;


    li {
      display: inline-block;
      position: relative;

      &:after {
        background: $colour-transparent;
        bottom: -3px;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
      }

      &.active {

        &:after {
          background: $colour-amber-a700;
        }

        a {
          color: $colour-amber-a700;
        }
      }

    }

    a {
      color: $colour-black-text;
      display: inline-block;
      padding: $spacing-secondary;

    }
  }
  // ------------------------------------------------------------------------ //

}
