

.product {
  outline: none;

  .featured-container & {
    clear: none $imp;
  }

  &--container {
    padding: $spacing-primary 0;

  // Wraps the btns
    &--button {
      text-align: center;
    }
  }

  // image containre
  &--image {
    margin-bottom: $spacing-primary;
    text-align: center;

    a { display: inline-block; }
  }

  // wraps the title
  &--title {
    position: relative;

    h6 {
      @include calc(width, '100% - 32px', 80%);
      margin: 0;
      overflow-x: hidden;
      padding: $spacing-primary 0 $spacing-secondary;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
    }

  }


  // Rating for the product
  &--rating {
    padding: $spacing-primary 0;
    text-align: center;

    i {
      @include font-size($font-size-milli);
      color: $colour-red-600;
    }
  }



  // description text
  p {
    @include font-size($font-size-secondary);
    margin-bottom: $spacing-secondary;

    &.product--price {
      @include font-size($font-size-primary);

      .price-old {
        @include font-size($font-size-secondary);
        text-decoration: line-through;
      }
    }
  }


  a {
    color: $colour-black-text;
    display: inline-block;
  }

}
