
.product-core {

  h1 {
    @include font-size($font-size-h3);
    text-align: left;
    text-transform: capitalize;
  }

  h2 {
    @include font-size($font-size-h4);
    color: $colour-black-secondary-text;
    text-align: left;
  }

  // .product-desc {}

  // Rating
  .product-rating {
    margin-bottom: $spacing-secondary;

    i {
      @include font-size($font-size-tertiary);
      color: $colour-red-600;
    }
  }

  // Excluding tax price
  .ex-tax {
    @include font-size($font-size-secondary);
    color: $colour-black-secondary-text;
  }

  // instock product code etc
  .product-misc {
    @include font-size($font-size-secondary);
    color: $colour-black-secondary-text;
    margin-bottom: $spacing-secondary;

    i { padding: 0 $spacing-quinary; }
    li { padding: $spacing-quinary 0; }
    a {
      color: $colour-black-secondary-text;
      cursor: pointer;

      &:hover { color: $colour-black-text; }
    }

  }

}
