

.tabs {

  &--content {

    table {
      // Stars
      i { color: $colour-red-600; }
    }

    .help-block {
      @include font-size($font-size-milli);
      color: $colour-black-secondary-text;

      > span {
        color: $colour-black-secondary-text;
        font-weight: $font-weight-thick;
      }
    }

  }

}
