

.table {

  &--basket {
    border: 2px solid $colour-grey-400;
    color: $colour-black-secondary-text;

    .basket-details {
      display: inline-block;
      vertical-align: middle;
    }

    a { color: $colour-amber-a700; }

    thead {

      tr {
        background: $colour-grey-200;
        border-bottom: 2px solid $colour-grey-400;

      }

    }

  }

}
