

.tiles {

  &--insta {

    a {
      display: block;
      position: relative;

      &:after {
        @include transition(background, .3);
        background: rgba(0, 0, 0, .2);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        &:after {
          background: $colour-transparent;
        }
      }

    }

    &__hide { display: none; }

  }

}
